.parentContainerClass{
    width: 800px;
}
.scheduleContainerClass{
 
    width: 100%;
    display: table;
    border-collapse: collapse;
    margin-bottom: 1.5rem;
}
.headerClass{
    text-align: center;
    
}
.navigationClass{
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}

.rowClass div{

/*             margin-left: 0.5rem;
    margin-right: 0.5rem; */
    
    display: table-cell;


}
.rowClass{
    display: table-row;
    height: 1.5rem;
    line-height: 1.5rem;
    border-style: solid;
    border-width: 1px 0px;
}
.tableHeaderRowClass{
    font-size: large;
}
.timeCellClass{
    width: 20%;
    text-align: center;
    border-right: 2px inset;
}
.nameCellClass{
    width: 40%;
    padding-left: 0.5rem;
    border-right: 2px inset;
}
.enableCellClass{
    width: 20%;
    text-align: center;
}
.enableCellClass span{
    display: inline-block;
    width: 5rem;
    text-align: right;
}
.modalBackgroundClass{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
   
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.modalWindowClass{
    background-color: white;
    width: 400px;
    max-width: 100%;
    border-radius: 0.5rem;


}
.modalWindowHeaderClass{
    font-size: x-large;
    text-align: center;
    margin: 20px;
}
.modalWindowContainerClass{
    margin: 20px;
}
.modalWindowContainerClass div{
    margin: 20px;
}
.modalWindowFooterClass{
    margin: 20px;
    margin-left: 40px;
}
.modalWindowFooterClass input{
   
    margin-right: 10px;
}
label{
    width: 130px;
    display: inline-block;
}
.errorSubHeaderClass{
    background-color: rosybrown;
    color: red;
    font-size: initial;
}
.errorMessageClass{
    height: 1rem;
    font-size: medium;
}
.errorMessageClassDisplay{
    background-color: pink;
    color: red;
}
.recordOnClass{
    background-color: mediumseagreen;
}
.authStringClass{
    text-align: end;
}